.FolderPanel {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;

    --b: 3px;   /* thickness of the border */
  --c: white;   /* color of the border */
  --w: 10px; /* width of border */
  

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-left: transparent;
    border-right: transparent;
}