.Crosshair {
    position: fixed;
    width: 35px;
    height:35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
    
    transition: transform 0.3s ease, border-color 0.3s ease;

    --b: 3px;   /* thickness of the border */
    --c: white;   /* color of the border */
    --w: 7px; /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

.Hovered {
    position: fixed;
    width: 35px;
    height:35px;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s ease, border-color 0.3s ease;

    --b: 3px;   /* thickness of the border */
    --c: red;   /* color of the border */
    --w: 7px; /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}