.outer-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Allow clicks to pass through to TestRoomCanvas */
  z-index: 10; /* Ensure it's above the canvas */
  

 
  
}





